body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;

    background: var(--tg-theme-bg-color);
    color: var(--tg-theme-text-color);
}

.container {
    padding: 20px;
    text-align: center;
}

.title {
    font-size: 26px;
    margin-bottom: 25px;
}

.menu {
    display: grid;
    gap: 12px;
}

.btn {
    padding: 14px;
    font-size: 18px;
    border-radius: 12px;
    border: none;
    cursor: pointer;

    background: var(--tg-theme-button-color);
    color: var(--tg-theme-button-text-color);
}

.btn:hover {
    opacity: 0.9;
}

#content {
    margin-top: 30px;
    text-align: left;
}
